html,
body {
    min-height: 100vh;
}

.columns {
    align-content: stretch;
}

p:not(:last-of-type) {
    margin-bottom: 1rem;
}

p {
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;

        @include tablet {
            max-width: 50%;
        }

        @include desktop {
            max-width: 33%;
        }
        
    }
}

.text-center {
    text-align: center;
}